name: My Build Workflow

on:
  push:
    branches:
      - main

jobs:
  build-project:
    runs-on: ubuntu-latest
    container: node:16
    steps:
      - name: Check Node.js version
        run: node --version

      - name: Check npm version
        run: npm --version

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Npm Install
        run: npm install

      - name: Run Node Application
        run: node example.js

      - name: Upload static site content
        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: . # Specify the path to the files you want to upload (current directory)

  release-project:
    name: Release Project
    runs-on: ubuntu-latest
    needs: build-project
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: my-artifact # Specify the name of the artifact to download

      - name: List downloaded artifact contents
        run: ls -R
