# name: My Build Workflow

# on:
#   push:
#     branches:
#       - main

# jobs:
#   build-project:
#     runs-on: ubuntu-latest
#     container: node:20
#     steps:
#       - name: Check Node.js version
#         run: node --version

#       - name: Check npm version
#         run: npm --version

#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Npm Install
#         run: npm install

#       - name: Run Node Application
#         run: node example.js

#       - name: Upload static site content
#         uses: actions/upload-artifact@v3
#         with:
#           name: my-artifact
#           path: . # Specify the path to the files you want to upload (current directory)

#   release-project:
#     name: Release Project
#     runs-on: ubuntu-latest
#     needs: build-project
#     steps:
#       - name: Download artifact
#         uses: actions/download-artifact@v3
#         with:
#           name: my-artifact # Specify the name of the artifact to download

#       - name: List downloaded artifact contents
#         run: ls -R

#       - name: Compress Artifacts content
#         uses: thedoctor0/zip-release@master
#         with:
#           filename: my-artifact-test.zip

#       - name: Create GitHub release
#         id: create-new-release
#         uses: actions/create-release@v1
#         env:
#           GITHUB_TOKEN: ${{ secrets.MY_PAT_TOKEN }}
#         with:
#           tag_name: ${{ github.run_number }}
#           release_name: Release ${{ github.run_number }}

#       - name: Upload release project
#         uses: actions/upload-release-asset@v1
#         env:
#           GITHUB_TOKEN: ${{ secrets.MY_PAT_TOKEN }}
#         with:
#           upload_url: ${{ steps.create-new-release.outputs.upload_url }}
#           asset_path: ./my-artifact-test.zip
#           asset_name: my-artifact-v${{ github.run_number }}.zip
#           asset_content_type: application/zip

name: My Build Workflow

on:
  push:
    branches:
      - main

jobs:
  build-project:
    runs-on: ubuntu-latest
    container: node:20
    steps:
      - name: Check Node.js version
        run: node --version

      - name: Check npm version
        run: npm --version

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Docker
        uses: docker/setup-docker@v2
        with:
          version: "20.10.8" # Specify the Docker version you want to use

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
